<ion-view  view-title='<img src="img/top_logo.png">'>
    <ion-content>
        <div class="item item-body">
            
            <img class="full-image" ng-src="{{item.images.imageLarge}}">
            <div class="item">
                <h1 ng-bind-html="item.title"></h1>
                <div class="text-wrap">
                    <span>{{item.created}}</span> | <span>{{item.author}}</span>
                </div>
            </div>
            
                <div class="padding" ng-bind-html="item.content"></div>
            </div>
    </ion-content>
</ion-view>
