<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="app_menu">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home" class="item-assertive">
            <i class="icon ion-icon ion-ios-home-outline icon-right"></i> 
           עמוד הבית
        </ion-item>
        <ion-item menu-close href="#/app/sections/news" class="item-assertive">
         <i class="icon ion-icon ion-ios-paper icon-right"></i> חדשות
        </ion-item>
        <ion-item menu-close href="#/app/sections/sport" class="item-assertive">
            <i class="icon ion-icon ion-ios-football icon-right"></i> 
          ספורט
        </ion-item>
        <ion-item menu-close href="#/app/sections/culture" class="item-assertive">
            <i class="icon ion-icon ion-mic-c icon-right"></i> 
          תרבות
        </ion-item>

          <ion-item menu-close href="#/app/sections/education" class="item-assertive">
              <i class="icon ion-icon ion-university icon-right"></i> 
              חינוך
          </ion-item>

          <ion-item menu-close href="#/app/sections/religion" class="item-assertive">
              <i class="icon ion-icon ion-ios-football icon-right"></i> 
              דת ומסורת
          </ion-item>

          <ion-item menu-close href="#/app/sections/square" class="item-assertive">
              <i class="icon ion-icon ion-chatboxes icon-right"></i> 
              כיכר העיר
          </ion-item>

          <ion-item menu-close href="#/app/sections/nights" class="item-assertive">
              <i class="icon ion-icon ion-ios-moon icon-right"></i> 
              לילות אשדוד
          </ion-item>

          <ion-item menu-close href="#/app/sections/weekend" class="item-assertive">
              <i class="icon ion-icon ion-ios-book icon-right"></i> 
             סוף שבוע
          </ion-item>
          <ion-item menu-close href="#/app/sections/business" class="item-assertive">
              <i class="icon ion-icon ion-ios-briefcase icon-right"></i> 
              עסקים
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
