<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-assertive">
        

      <ion-nav-back-button>

      </ion-nav-back-button>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/home">
           עמוד הבית
        </ion-item>
        <ion-item menu-close href="#/app/sections/news">
          חדשות
        </ion-item>
        <ion-item menu-close href="#/app/sections/sport">
          ספורט
        </ion-item>
        <ion-item menu-close href="#/app/sections/culture">
          תרבות
        </ion-item>

          <ion-item menu-close href="#/app/sections/education">
              חינוך
          </ion-item>

          <ion-item menu-close href="#/app/sections/religion">
              דת ומסורת
          </ion-item>

          <ion-item menu-close href="#/app/sections/square">
              כיכר העיר
          </ion-item>

          <ion-item menu-close href="#/app/sections/nights">
              לילות אשדוד
          </ion-item>

          <ion-item menu-close href="#/app/sections/weekend">
             סוף שבוע
          </ion-item>
          <ion-item menu-close href="#/app/sections/business">
              סוף שבוע
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
