<ion-view  view-title='<img src="img/top_logo.png">'>
  
        
  
  <ion-content>
      <h1 class="more_title">{{items[0].category_name}}</h1>
    <div ng-repeat="item in items" class="list list-inset no_borders hp_item_warp" ng-click="goToContent(item.id)"  ng-class-odd="'odd'" ng-class-even="'even'">
      <div class="item item-body">
          <div class="row item item-thumbnail-right">
              <div class="col col-33">
                  <img ng-src="{{item.images.imageXSmall}}">
              </div>
              <div class="col col-67">
                  <h2 ng-bind-html="item.title"></h2>
                  <p class="tablet_only" ng-bind-html="item.content | limitTo:200"></p>
              </div>
          </div>
       </div>
    </div>


      <div class="pagination">
          <ul>
              <li ng-class="prevPageDisabled()">
                  <a class="button button-small button-assertive " ng-click="prevPage()">« הקודם</a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)" >
                  <a class="button button-small button-assertive " >{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                  <a class="button button-small button-assertive " ng-click="nextPage()">הבא »</a>
              </li>
          </ul>
      </div>
  </ion-content>
</ion-view>
